.jbv-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  margin: auto;
  padding-bottom: 80px;
  width: 100%;
  min-height: 100vh;
}

.jbv-h1 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
